<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <div id="bottom">
	<div id="sitelinks">
		<dl>
			<dt>${_('Fedora')}</dt>
			<dd><a href="http://fedoraproject.org/wiki/Overview">${_('About Fedora')}</a></dd>
			<dd><a href="http://planet.fedoraproject.org/">${_('Planet Fedora')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/FWN">${_('Fedora Weekly News')}</a></dd>
			<dd><a href="http://docs.fedoraproject.org/">${_('Documentation')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/">${_('Fedora Wiki')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/FedoraEvents">${_('Events')}</a></dd>
		</dl>
		<dl>
			<dt>${_('Download')}</dt>
			<dd><a href="http://fedoraproject.org/get-fedora">${_('Get Fedora')}</a></dd>
			<dd><a href="http://fedoraproject.org/get-fedora-all">${_('Full Download List')}</a></dd>
		</dl>
		<dl>
			<dt>${_('Support')}</dt>
			<dd><a href="http://fedoraproject.org/en/get-help">${_('Get Help')}</a></dd>
			<dd><a href="irc://irc.freenode.org/#fedora">${_('IRC Help')}</a></dd>
			<dd><a href="http://www.redhat.com/mailman/listinfo/fedora-list">${_('Mailing List Help')}</a></dd>
			<dd><a href="#">${_('Forums')}</a></dd>
			<dd><a href="http://docs.fedoraproject.org/">${_('Documentation')}</a></dd>
		</dl>
		<dl>
			<dt>${_('Join')}</dt>
			<dd><a href="http://fedoraproject.org/en/join-fedora">${_('Join Fedora')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/SIGs">${_('Fedora SIGs')}</a></dd>
			<dd><a href="https://admin.fedoraproject.org/accounts/">${_('Fedora Account System')}</a></dd>
			<dd><a href="https://admin.fedoraproject.org/community/">${_('Fedora Community')}</a></dd>
		</dl>
		<dl>
			<dt>${_('Subprojects')}</dt>
			<dd><a href="http://fedoraproject.org/wiki/DocsProject">${_('Documentation')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/L10N">${_('Translation')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/Marketing">${_('Marketing')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/Ambassadors">${_('Ambassadors')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/Design">${_('Design')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/Infrastructure">${_('Infrastructure')}</a></dd>
		</dl>
		<dl>
			<dt>&nbsp;</dt>
			<dd><a href="http://fedoraproject.org/wiki/Websites">${_('Websites')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/I18N">${_('Internationalization')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/NewsProject">${_('News')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/Distribution/Project">${_('Distribution')}</a></dd>
			<dd><a href="http://fedoraproject.org/wiki/SIGs">${_('Special Interest Groups (SIGs)')}</a></dd>
		</dl>
	</div>

    <div id="footer">
      <a href="http://www.redhat.com/"><img class="rh-logo" src="/static/images/redhat-logo.png" /></a>
      <p class="sponsor">${_('Fedora is sponsored by Red Hat.')}</p>
      <p class="sponsor"><a href="http://www.redhat.com/rhel/fedora/">${_('Learn more about the relationship between Red Hat and Fedora &gt;')}</a></p>
      <p class="copy">${_('&amp;copy; 2009 Red Hat, Inc. and others.')}</p>
      <ul>
        <li class="first"><a href="mailto:webmaster@fedoraproject.org">${_('Contact')}</a></li>
        <li><a href="http://fedoraproject.org/sponsors">${_('Sponsors')}</a></li>
        <li><a href="http://fedoraproject.org/wiki/Legal:Main">${_('Legal')}</a></li>
        <li><a href="http://fedoraproject.org/wiki/Legal:Trademark_guidelines">${_('Trademark Guidelines')}</a></li>
      </ul>
      <p class="disclaimer">${_('The Fedora Project is maintained and driven by the community. This is a community maintained site. Red Hat is not responsible for content.')}</p>
    </div>
  </div>
</html>
