<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <div id="head">
    <h1><a href="${relpath}/">${_('Fedora Dorrie:')}</a></h1>
    <ul id="primary-nav">
		<li id="head-about"><a href="${relpath}/about">${_('About Dorrie')}</a></li>
		<li id="head-login"><a href="${relpath}/login">${_('Login')}</a></li>

    </ul>
  </div>
</html>
