<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    <xi:include href="css.html" />
    <xi:include href="js.html" />
    <meta py:replace="select('*|text()')" />
  </head>
  <py:match path="body" once="true">
  <body py:attrs="select('@*')">
    <div id="wrapper">
      <xi:include href="head.html" />
      <xi:include href="sidebar.html" />
      <div id="content">
        ${select('*')}
      </div>
    </div>
    <xi:include href="foot.html" />
  </body>
  </py:match>
</html>
